@model Product
@{
    ViewData["Title"] = "Apagar Produto";
}

<h1 class="text-primary-emphasis">@ViewData["Title"]</h1>

<h4 class="lead text-secondary-emphasis mb-4">Tem certeza que deseja apagar este Produto?</h4>
<div>
    <h4 class="text-primary-emphasis">Produto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2 text-primary-emphasis">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10 text-primary-emphasis">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Apagar" class="btn btn-outline-danger" /> |
        <a asp-action="Index" class="text-primary">Voltar para a lista</a>
    </form>
</div>
